import { Link, Route, Routes } from "react-router-dom";

const MFE1Router = () => {
  return (
    <Routes>
      <Route
        path="/"
        element={
          <>
            <h1> route 1</h1>
            
          </>
        }
      />
    </Routes>
  );
};
export default MFE1Router;
